/* Common Rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #33475b;
}

p{
    line-height: 2rem;
    font-weight: 400;
}

/* Utility Rules */

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.container{
    width: 75%;
    margin: auto;
}

.btn_sm{
    border-radius: 5px;
    background-color: #fe775a;
    color: white;
    padding: 10px;
    line-height: 20px;
}

.btn_big{
    border-radius: 5px;
    background-color: #fe775a;
    color: white;
    font-weight: 500;
    padding: 20px 35px;
    display: inline-block;
}

.mtb_20{
    margin: 20px auto;
}

.mtb_50{
    margin: 50px auto;
}

.mt_50{
    margin-top: 50px;
}

.fw_500{
    font-weight: 500;
}

.ls_-1{
    letter-spacing: -1px;
}

.box_shadow{
    box-shadow: 2px 2px 2px #e7edf2,
                -2px -2px 2px #e7edf2,
                2px -2px 2px #e7edf2,
                -2px 2px 2px #e7edf2;
}

h1{
    font-size: 55px;
    margin-bottom: 30px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
    margin-bottom: 30px;
}

.trial_btn{
    margin: 30px 0;
}

.trial_text{
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.checkbox::before{
    content:"\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fe775a;
    margin-right: 10px;
}

/* Header */
.topmenu{
    line-height: 100px;
    background-color: #f4f9fd;
    border-bottom: 1px solid #33475b;
}

.topmenu_nav > div{
    width: 50%;
    float: left;
}

#language{
    padding-right: 15px;
}

#contact_us{
    border-left: 2px solid #33475b;
    padding-left: 20px;
}

.login{
    background-color: white;
    border: 1px solid #fe775a;
    color: #fe775a;
}

#top_leftmenu a{
    text-decoration: none;
}

#search_icon{
    color: #00a4bd;
}

#top_rightmenu > a{
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
}

#top_rightmenu{
    text-align: right;
}


.main_menu{
    line-height: 100px;
    font-weight: 500;
    letter-spacing: -1px;
}
#logo{
    width:30%;
    float: left;
}
#main_rightmenu{
    text-align: right;
    width: 70%;
    float: left;
}

#logo > a > img {
    vertical-align: middle;
}

#main_rightmenu > ul > li{
    list-style-type: none;
    display: inline-block;
}

#main_rightmenu > ul > li a{
    text-decoration: none;
    margin-left: 25px;
}

#arrow{
    margin-left: 10px;
}


.jumbotron{
    height: 600px;
    background-image: url('../img/jumbotron.png');
    background-position: 105% 10%;
    background-repeat: no-repeat;
    background-color: #fff2ee;
    position: relative;
    border-bottom: 3px solid #33475b;
}

.jumbotron_text{
    width: 35%;
    position: absolute;
    top: 10%;
}

#separator{
    height: 100px;
    background-color: #afebe4;
    border-bottom: 3px solid #33475b;
}

/* Main */
.bg_lg{
    background-color: #f4f9fd;
    padding: 50px 0;
}

#top_maincontent{
    text-align:center;
    width: 45%;
}

#top_maincontent img{
    height: 200px;
}
#crm{
    background-color: white;
    border-radius: 5px;
    padding: 80px 100px;
}

#left_crm{
    width: 20%;
    text-align: center;
    float: left;
}

#left_crm img{
    width: 150px;
}

#right_crm{
    width: 70%;
    float: left;
    margin-left: 10%;
}

#popolar_feature{
    position: relative;
    margin-top: 30px;
}

#popolar_text{
    width: 40%;
    float: left;
}

.popolar_text_style{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
}

#popolar_line{
    width: 60%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 2px solid #899397;
}

#right_crm > ul > li{
    display: inline-block;
    list-style-type: none;
    margin: 30px 20px 0 0;
    font-weight: 500;
}

.column3{
    width: 30%;
    background-color: white;
    float: left;
    border-radius: 5px;
    padding: 20px 50px;
    text-align: center;
}

.column3:nth-child(2){
    margin: 0 5%;
}

.column3 img {
    height: 150px;
    margin-bottom: 20px;
}

.column3 p {
    height: 200px;
    vertical-align: top;
    border-bottom: 2px solid #899397;
}

.column3 > ul > li{
    list-style-type: none;
    text-align: left;
}


#blu_section{
    background: linear-gradient(90deg, rgba(0, 168, 186, 1), rgba(0, 186, 169, 1));
    text-align: center;
    padding: 50px 0 100px 0;
}

#blu_section h2, #blu_section p, #blu_section span{
    color: white;
}

#blu_section span{
    display: block;
}

#datas_row1 > div, #datas_row2 > div{
    width: calc(100%/4);
    float: left;
    padding: 20px 0;
}

#datas_row1 > div{
    border-bottom: 2px solid white;
}

#datas_row1 > div:not(:last-child), #datas_row2 > div:not(:last-child){
    border-right: 2px solid white;
}

.big_text{
    font-size: 40px;
    font-weight: 600;
}

.small_text{
    font-size: 0.8rem;
}

.big_text::after{
    content: "+";
    font-size: 25px;
    font-weight: 400;
    margin-left: 5px;
    vertical-align: middle;
}

#final_section{
    background-color: white;
}

.customers{
    text-align: center;
}

.customers > div {
    float: left;
}

#customers_numbers{
    width: 25%;
    height: 100px;
    padding: 0 70px;
    text-align: left;
}

#customers_numbers h2{
    font-size: 50px;
}

#customers_logo_section{
    width: 55%;
    margin: 0 10%;
 }

.customers_logo{
    width: calc(100%/4);
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    float: left;
    padding: 0 20px;
    margin-bottom: 10px;
/*     background-color: brown;
 */
}

.customers_logo:not(:nth-child(7)){
    margin-top: 15px;
}

.customers_logo img{
object-fit: contain;
width: 100%;
}

#subscribe_section{
    background-color: white;
    margin-top: 150px;
}

.subrscribe_left{
    width: 35%;
    float: left;
}

.subrsribe_picture{
    text-align: right;
    width: 65%;
    float: left;
}

.subrsribe_picture > img{
    height: 350px;
}
/* Footer */