/* Common Rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
}

p{
    line-height: 2rem;
}

/* Utility Rules */

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.container{
    width: 75%;
    margin: auto;
}

.btn_sm{
    border-radius: 5px;
    background-color: #fe775a;
    color: white;
    padding: 10px 15px;
    line-height: 30px;
}

.btn_big{
    border-radius: 5px;
    background-color: #fe775a;
    color: white;
    font-weight: 500;
    padding: 25px 40px;
    display: inline-block;
}

.mtb_20{
    margin: 20px 0;
}

.fw_500{
    font-weight: 500;
}
/* Header */
.topmenu{
    line-height: 100px;
    background-color: #f4f9fd;
    font-weight: 500;
    border-bottom: 1px solid #33475b;
}

.topmenu_nav nav{
    width: 50%;
    float: left;
}

#language{
    padding-right: 15px;
}

#contact_us{
    border-left: 2px solid #33475b;
    padding-left: 20px;
}

.login{
    background-color: white;
    border: 1px solid #fe775a;
    color: #fe775a;
}

#top_leftmenu a{
    text-decoration: none;
}

#search_icon{
    color: #00a4bd;
}

#top_rightmenu > a{
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
}

#top_rightmenu{
    text-align: right;
}


.main_menu{
    line-height: 100px;
    font-weight: 500;
}
#logo{
    width:30%;
    float: left;
}
#main_rightmenu{
    text-align: right;
    width: 70%;
    float: left;
}

#logo > img {
    vertical-align: middle;
}

#main_rightmenu > ul > li{
    list-style-type: none;
    display: inline-block;
}

#main_rightmenu > ul > li a{
    text-decoration: none;
    margin-left: 25px;
}

#arrow{
    margin-left: 10px;
}


.jumbotron{
    height: 600px;
    background-image: url('../img/jumbotron.png');
    background-position: 105% 0;
    background-repeat: no-repeat;
    background-color: #fff2ee;
    position: relative
}

.jumbotron_text{
    width: 35%;
    position: absolute;
    top: 10%;
}

h1{
    font-size: 55px;
    margin-bottom: 30px;
}

.trial_btn{
    margin: 30px 0;
}

.trial_text{
    font-size: 0.8rem;
    font-weight: 400;
}

/* Main */

/* Footer */